.deleteButton {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: none;
  border: none;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url(../../assets/trashDefault.svg);
    background-repeat: no-repeat;

    position: absolute;
    top: 4px;
    left: 5px;
  }
  
  &:hover {
    background: var(--gray-400);

    &:after { 
      background: url(../../assets/trashHover.svg);
      background-repeat: no-repeat;
    }
  }
}
